.completedTodoList {
  text-align: left;
  margin: 0 auto;
  max-width: 600px;
}

.completedTodoItem {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}